#canvas {
    height: 960px;
    width: 960px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border: black solid;
    justify-content: space-between;
    flex-direction: column;
};

.box {
    background-color: blue;
    border: 2px bisque solid;
};